fastapi
uvicorn
transformers
torch
torchaudio
librosa
soundfile
python-multipart
accelerate
python-dotenv
sarvamai
llama-cpp-python
psycopg2-binary
sentence-transformers
langchain-core
httpx
requests
tqdm